@import './_variables.scss';
@import './libs/_normalize.scss';

@import './components/navbar.scss';
@import './components/header.scss';
@import './components/courses.scss';
@import './components/employment.scss';
@import './components/footer.scss';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
}

h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
}

.container {
  width: 1440px;
  position: relative;
}

.btn {
  height: max-content;
  padding: 12px 24px;
  background-color: $blueMain;
  color: #fff;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &._secondary {
    border: 2px #fff solid;
  }
}



