.header {
  width: 100%;
  height: 800px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  &__left, &__right {
    height: 100%;
    max-width: 50%;
    position: relative;
  }
  

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
    padding-right: 121px;

    &-title {
      text-align: end;
      transform: rotate(-3deg);
    
      h1 {
        transform: rotate(3deg);
      }
    
      span {
        position: relative;
        bottom: 8px;
        padding: 6px 32px;
        background-color: $green;
        border-radius: 25px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        z-index: -1;
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      padding: 32px;
      gap: 24px;
      border-radius: 24px;
      background-color: #fff;
      box-shadow: 0px 0px 12px 6px rgba(39, 94, 199, 0.05);
      z-index: 1;

      p {
        font-weight: 500;
        width: 65%;

        span {
          color: $blueMain;
        }
      }
    }
  }

  &__right {
    width: 50%;
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

    .number {
      width: 35px;
      height: 35px;
      z-index: 1;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      color: #fff;
      width: 100%;
    }

    .col-first {
      width: 40%;
      &-row {
        &-first {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .layout {
            width: 214px;
          }

          .content {
            position: absolute;
            padding: 16px;
            height: 100%;
            width: 214px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 24px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.45%, rgba(0, 0, 0, 0.62) 77.37%, #000 100%);

            span {
              width: 100%;
              text-align: end;
            }
          }
        }

        &-second {
          display: flex;
          justify-content: center;
          position: relative;
          right: 30px;
          margin-top: 13px;
        }

        &-third {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 16px;
          padding: 20px;
          background-color: rgba(34, 34, 34, 0.50);
          border-radius: 2px 16px 16px 16px;
          width: 75%;
          margin-left: auto;

          p {
            width: min-content;
          }
        }
      }
    }

    .col-second {
      width: 60%;
      display: flex;
      flex-direction: column;
      
      &-row {
        &-first {
          width: 60%;
          padding: 8px 16px 16px 12px;
          margin-left: auto;
          position: relative;
          background-color: $blueDark;
          border-radius: 16px 16px 16px 2px;

          span {
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            color: #7A9CDD;
          }

          p {
            margin-top: 8px;
          }

          .number {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        &-second {
          display: flex;
          margin-top: 15px;
          margin-left: 10px;

          .img-layout {
            display: flex;
            position: relative;
            width: 186px;
            height: 267px;

            .content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              height: 100%;
              border-radius: 24px;
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.45%, rgba(0, 0, 0, 0.62) 77.37%, #000 100%);
              padding: 16px;
              z-index: 2;
            }

            .bg {
              position: absolute;
              top: 0;
              left: 0;
            }

            .ellipses {
              width: 50px;
              position: absolute;
              bottom: -25px;
              right: -25px;
              z-index: 3;
            }

            span {
              width: 100%;
              display: flex;
              text-align: end;
              justify-content: flex-end;
            }
          }
          &>img {
            margin-bottom: auto;
            margin-left: 18px;
          }
        }

        &-third {
          margin-top: 10px;
        }
      }
    }
  }
}

.ellipse-bg {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 0;
}

@media (max-width: 1440px) {
  .header {
    .container {
      justify-content: space-between;
    }
    &__left {
      width: 40%;
      padding: 0;

      &-info {
        flex-direction: column;
  
        p {
          width: 100%;
        }
      }
    }

    &__right {
      width: 60%;
      gap: 30px;

      .layout {
        width: 100%;
      }

      .col-first {
        &-row {
          &-second {
            right: 0;
          }

          &-third {
            left: 20px;
            width: 90%;
          }
        }
      }

      .col-second {
        &-row {
          &-first {
            width: 85%;
            bottom: 20px;
          }

          &-second {
            &>img {
              margin-left: 0;
              margin-right: auto;
              position: relative;
              bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    height: auto;
    padding: 115px 0 60px;

    &.mobile {
      display: flex;
    }

    .container {
      flex-direction: column;
      align-items: center;
    }

    &__left {
      min-width: 100%;
      justify-content: center;
      align-items: center;
      &-title {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span {
          text-align: right;
          width: fit-content;
        }
      }
    }

    &__right {
      min-width: 100%;

      &.web {
        display: flex;
      }

      &.mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 568px) {
  .header__left-title {
    span {
      font-size: 14px;
      padding: 4px 16px;
    }
  }

  .header__left-info {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ellipse-bg {
    top: -250%;
  }

  .header__right {
    &.web {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }

  .number {
    width: 25px !important;
  }

  .row{
    &-first {
      margin: 0 20px;
      display: flex;
  
      &-col-first {
        width: 55%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .content {
          position: absolute;
          padding: 12px;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 24px;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.45%, rgba(0, 0, 0, 0.62) 77.37%, #000 100%);

          span {
            width: 100%;
            text-align: end;
          }

          p {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
  
      &-col-second {
        width: 45%;
        margin-top: auto;
        margin-left: 12px;
        position: relative;
        bottom: -40px;
      }
    }

    &-second {
      margin: 50px 20px 0 20px;
      display: flex;

      &-col-first {
        width: 45%;
        position: relative;

        img {
          position: absolute;
          right: 0;
          top: 60px;
          transform: rotate(160deg);
        }
      }

      &-col-second {
        width: 55%;
        display: flex;
        padding: 16px;
        border-radius: 1.55px 12.5px 12.5px 12.5px;
        background: rgba(34, 34, 34, 0.50);

        p {
          margin-right: 20px;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }

    &-third {
      display: flex;
      margin: 70px 20px;
      position: relative;
      gap: 13px;

      &-col-first {
        .img-layout {
          display: flex;
          position: relative;
          width: 186px;
          height: 267px;

          .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            border-radius: 24px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.45%, rgba(0, 0, 0, 0.62) 77.37%, #000 100%);
            padding: 12px;
            z-index: 2;
          }

          .bg {
            position: absolute;
            top: 0;
            left: 0;
          }

          span {
            width: 100%;
            display: flex;
            text-align: end;
            justify-content: flex-end;
          }

          p {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }

      &-col-second {
        img {
          position: absolute;
          top: 150px;
          transform: scale(1, -1);
        }
      }
    }

    &-fourth {
      margin: 10px 20px 0 20px;
      width: 60%;
          padding: 8px 16px 16px 12px;
          margin-left: auto;
          position: relative;
          background-color: $blueDark;
          border-radius: 16px 16px 16px 2px;

          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 140%;
            color: #7A9CDD;
          }

          p {
            margin-top: 8px;
            font-weight: 400;
          }

          .number {
            position: absolute;
            top: 10px;
            right: 10px;
          }
    }
  }
}